* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-family-1 : 'Roboto', sans-serif;
    --background-default : #F3F5FC;
    --background-darkmode : #444;
    --text-darkmode : #fff;
}

body{
    background: var(--background-default);
    transition: .3s background;
}

body.dark {
    background-color: #2a2a2a;
}

header{
    display: block;
    padding: 1em;
}

.header__logo {
    display: inline-block;
    width: 10%;
}

.header__h1 {
    display: inline-block;
}

body.dark .header__img {
    filter: invert();
}

header .container{
    display: inline-flex;
    justify-content: end;
    align-items: center; 
    width: 80%;
    height: 100px;
}

.flags {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;
}

.flags__title {
    font-family: var(--font-family-1);
}

body.dark .flags__title {
    color: var(--text-darkmode);
}

.flags__items{
    width: 30px;
}

.flags__img {
    display: block;
    cursor: pointer;
}

.darkmode {
    display: inline-block;
}

#theme {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    border-radius: 1000px;
    background-color: #2d6b84;
    position: relative;
    outline: none;
    cursor: pointer;
    margin-right: 110px;
}

#theme::after{
    content: "";
    display: block;
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border: .5px solid #d1d1d1;
    border-radius: 100px;
    top: 1;
    left: 0;
    right: unset;
    transition: .5s all;
}

#theme.active{
    background: #d88919;
    color: #000;
}

#theme.active i {
    color: #000
}

#theme.active::after {
    right: 0;
    left: unset;
}

main {
    margin: 2em 12em;
}

.main__container {
    display: flex;
    justify-content: center;
}

.main__entry {
    width: 70%;
    padding: 1em;
}

.main__input{
    padding: 1em;
    width: 100%;
    font-family: var(--font-family-1);
    font-weight: bold;
    letter-spacing: .6px;
    font-size: 1.2em;
    border: none;
    background-color: var(--background-default);
}

body.dark .main__input {
    background: var(--background-darkmode);
    color: var(--text-darkmode);
}

body.dark .main__input::placeholder {
    color: var(--text-darkmode);
}

.main__entry-p{
    display: flex;
    align-items: end;
    height: 62vh;
    padding: 1em 7em;
    font-family: var(--font-family-1);
}

body.dark .main__entry-p{
    color: var(--text-darkmode)
}

.main__entry-p i {
    margin: 0 6px 3px 0;
}

.main__buttons{
    display: flex;
    align-items: end;
    justify-content: center;
}

.main__btn {
    margin: 0 2em;
    width: 35%;
    padding: .8em;
    font-size: 1.2em;
    font-family: var(--font-family-1);
    border: 2px solid #333;
    border-radius: 10px;
}

body.dark .main__btn {
    background: var(--background-darkmode);
    color: var(--text-darkmode);
}

.main__output{
    background-color: #FFF;
    margin-left: 3em;
    width: 30%;
    height: 80vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

body.dark .main__output {
    background: var(--background-darkmode);
    color: var(--text-darkmode);
}

.no-content{
    height: 66vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.no-content img,
.main__output textarea {
    width: 100%;
}

.no-content .title,
.no-content .subtitle {
    font-family: var(--font-family-1);
    text-align: center;
}
.no-content img{
    padding-bottom: 1em;
}

.no-content .title {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: .5em;
}

.no-content .subtitle{
    color: #555;
}

body.dark .no-content .subtitle {
    color: #fff;
}

.main__output textarea {
    resize: none;
    border: none;
    height: 60vh;
    margin-bottom: 6vh;
    display: none;
    font-family: var(--font-family-1);
    font-size: 1.2em;
}

body.dark .main__output textarea {
    background: var(--background-darkmode);
    color: var(--text-darkmode);
}

.main__copy {
    width: 100%;
    text-align: center;
}

.main__copy .copy-btn {
    width: 90%;
    padding: 1em 0;
    border: 2px solid #333;
    font-family: var(--font-family-1);
    font-size: 1.1em;
    letter-spacing: .8px;
    border-radius: 10px;
}

body.dark .main__copy .copy-btn {
    background: var(--background-darkmode);
    color: var(--text-darkmode);
}

.main__btn,
.copy-btn {
    transition: .4s background;
}

input[type="button"]:hover{
    background-color: #94e4e4;
}

input[type="button"]:active{
    background-color: #3dadea;
}

footer {
    width: 100%;
    text-align: center;
}

.footer__container {
    padding: 1em;
}

.footer__title,
.footer__contact,
.footer__copyright {
    margin: 1em;
}

.footer__title .title-section{
    font-family: var(--font-family-1);
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    letter-spacing: .6px;
}

body.dark .footer__title .title-section {
    color: var(--text-darkmode);
}

.footer__contact a i {
    font-size: 3em;
    color: #000;
    margin: 0 1em 0;
}

body.dark .footer__contact a i {
    color: var(--text-darkmode);
}

.footer__copyright__h3{
    font-family: var(--font-family-1);
    letter-spacing: .4px;
    font-size: .8em;
}

body.dark .footer__copyright__h3 {
    color: var(--text-darkmode);
}

@media screen and (max-width: 1700px) {
    main {
        margin: 2em 10em;
    }
    .main__output {
        width: 40%;
    }
}

@media screen and (max-width: 1400px) {
    header .container {
        width: 80%;
    }
    main {
        margin: 2em 8em;
    }
    .main__output {
        width: 50%;
    }
    .main__btn {
        margin: 0 .5em;
        width: 50%;
    }
    .main__entry-p{
        padding: 1em 1em;
    }
}

@media screen and (max-width: 1100px) {
    main {
        margin: 2em 6em 2em 4em; 
    }
}

@media screen and (max-width: 1024px) {
    main {
        margin: 2em 4em 2em 2em; 
    }
}

@media screen and (max-width: 900px) {
    main {
        margin: 2em 4em; 
    }
    .main__container {
        display: block;
    }
    .main__entry{
        width: 100%;
    }
    .main__entry-p{
        height: 5vh;
        margin-bottom: 3em;
    }
    .main__btn {
        font-size: 1em;
        font-weight: bold;
        min-width: 140px;
    }
    .main__output{
        width: 90%;
        margin-left: 2em;
    }
}

@media screen and (max-width: 768px) {
    .header__logo{
        display: block;
    }
    header .container {
        width: 100%;
        justify-content: center;
    }
    .darkmode {
        width: 100px;
        margin-left: 2em;
    }
}

@media screen and (max-width: 500px) {
    .flags__title {
        display: none;
    }
    main {
        margin: 1em;
    }
    .main__entry-p{
        height: 9vh;
        margin-bottom: 2em;
    }
    .main__output{
        width: 90%;
        margin-left: 1em;
    }
}